<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sprites/Dummy/dummy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{2005,537},{60,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/Dummy/dummy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{2005,599},{60,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/Dummy/dummy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{2005,661},{60,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/Dummy/dummy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{90,1525},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{152,1525},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{289,1458},{60,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/Dummy/dummy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{487,1626},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{549,1626},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{175,1547},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/bannerBlackJack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,26}</string>
                <key>spriteSourceSize</key>
                <string>{176,26}</string>
                <key>textureRect</key>
                <string>{{2005,359},{176,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/bannerBurst.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,26}</string>
                <key>spriteSourceSize</key>
                <string>{177,26}</string>
                <key>textureRect</key>
                <string>{{2005,1},{177,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/bannerStand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,26}</string>
                <key>spriteSourceSize</key>
                <string>{177,26}</string>
                <key>textureRect</key>
                <string>{{2005,180},{177,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/bannerWaiting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,29}</string>
                <key>spriteSourceSize</key>
                <string>{176,29}</string>
                <key>textureRect</key>
                <string>{{232,1283},{176,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/barProgress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{983,14}</string>
                <key>spriteSourceSize</key>
                <string>{983,14}</string>
                <key>textureRect</key>
                <string>{{611,1626},{983,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/barTrack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{983,14}</string>
                <key>spriteSourceSize</key>
                <string>{983,14}</string>
                <key>textureRect</key>
                <string>{{942,1609},{983,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/C10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{49,1549},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{214,1521},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/C3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{305,1520},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/C4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{311,1421},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/C5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{387,1283},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/C6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{396,1512},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/C7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{437,1409},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/C8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{478,1283},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/C9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{487,1500},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/CA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{563,1409},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/CJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{569,1283},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/CK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{660,1283},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/CQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{578,1500},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/D10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{669,1500},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{689,1409},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/D3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{760,1500},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/D4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{723,723},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/D5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{723,814},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/D6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{723,905},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/D7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{723,996},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/D8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{723,1087},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/D9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{723,1178},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/DA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{751,1269},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/DJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{815,1395},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/DK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{842,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/DQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{851,1486},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/H10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{941,1392},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/H2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{968,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/H3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{942,1483},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/H4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1033,1483},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/H5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1067,1392},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/H6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1094,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/H7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1124,1483},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/H8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1193,1392},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/H9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1220,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/HA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1215,1483},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/HJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1306,1483},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/HK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1319,1392},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/HQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1397,1483},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/S10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1346,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/S2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1445,1392},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/S3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1472,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/S4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1488,1483},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/S5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1571,1392},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/S6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1598,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/S7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1579,1483},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/S8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1670,1483},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/S9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1697,1392},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/SA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1761,1483},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/SJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1724,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/SK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1823,1392},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/SQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1850,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/channelListBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-72}</string>
                <key>spriteSize</key>
                <string>{1152,576}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{851,723},{1152,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,35}</string>
                <key>spriteSourceSize</key>
                <string>{43,35}</string>
                <key>textureRect</key>
                <string>{{263,1421},{43,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/deckRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{136,122}</string>
                <key>textureRect</key>
                <string>{{263,1283},{136,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/doubleDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,87}</string>
                <key>spriteSourceSize</key>
                <string>{264,87}</string>
                <key>textureRect</key>
                <string>{{1,1283},{264,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,35}</string>
                <key>spriteSourceSize</key>
                <string>{54,35}</string>
                <key>textureRect</key>
                <string>{{175,1577},{54,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/loginBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/nameTag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,67}</string>
                <key>spriteSourceSize</key>
                <string>{236,67}</string>
                <key>textureRect</key>
                <string>{{163,1283},{236,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/nameTagBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,71}</string>
                <key>spriteSourceSize</key>
                <string>{240,71}</string>
                <key>textureRect</key>
                <string>{{90,1283},{240,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/poke/거북왕.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{232,1461},{56,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/poke/나옹이.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1991,1416},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/poke/망나뇽.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1976,1359},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/poke/프테라.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1976,1301},{56,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/poke/피카츄.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1949,1416},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/split.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,46}</string>
                <key>spriteSourceSize</key>
                <string>{92,46}</string>
                <key>textureRect</key>
                <string>{{1,1549},{92,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,49}</string>
                <key>spriteSourceSize</key>
                <string>{111,49}</string>
                <key>textureRect</key>
                <string>{{1852,1483},{111,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/tableBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{723,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/thumb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,42}</string>
                <key>spriteSourceSize</key>
                <string>{12,42}</string>
                <key>textureRect</key>
                <string>{{396,1638},{12,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textures.png</string>
            <key>size</key>
            <string>{2032,1651}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ec95cc553437bb97725305c870905f7:1a3cd3c14b77727a93a6860caa31aa9e:1abd9b1a32dd92fa37ae3f420f34f475$</string>
            <key>textureFileName</key>
            <string>textures.png</string>
        </dict>
    </dict>
</plist>
