<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sprites/Dummy/dummy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{1259,723},{60,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/Dummy/dummy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{1259,785},{60,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/Dummy/dummy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{1379,1283},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{1441,1283},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{1503,1283},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{1565,1283},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{1627,1283},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{1689,1283},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{1379,1305},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/bannerBlackJack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,26}</string>
                <key>spriteSourceSize</key>
                <string>{176,26}</string>
                <key>textureRect</key>
                <string>{{1252,957},{176,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/bannerStand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,26}</string>
                <key>spriteSourceSize</key>
                <string>{177,26}</string>
                <key>textureRect</key>
                <string>{{1224,965},{177,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/bannerWaiting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,29}</string>
                <key>spriteSourceSize</key>
                <string>{176,29}</string>
                <key>textureRect</key>
                <string>{{1228,723},{176,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/channelListBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-72}</string>
                <key>spriteSize</key>
                <string>{1152,576}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1152,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,35}</string>
                <key>spriteSourceSize</key>
                <string>{43,35}</string>
                <key>textureRect</key>
                <string>{{1866,1283},{43,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/deckRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{136,122}</string>
                <key>textureRect</key>
                <string>{{1155,1203},{136,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,35}</string>
                <key>spriteSourceSize</key>
                <string>{54,35}</string>
                <key>textureRect</key>
                <string>{{1228,901},{54,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/loginBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/nameTag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,67}</string>
                <key>spriteSourceSize</key>
                <string>{236,67}</string>
                <key>textureRect</key>
                <string>{{1155,965},{236,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/nameTagBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,71}</string>
                <key>spriteSourceSize</key>
                <string>{240,71}</string>
                <key>textureRect</key>
                <string>{{1155,723},{240,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/poke/거북왕.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1224,1144},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/poke/나옹이.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{1953,1283},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/poke/망나뇽.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1809,1283},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/poke/프테라.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1751,1283},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/poke/피카츄.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1911,1283},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{98,46}</string>
                <key>textureRect</key>
                <string>{{1279,1283},{98,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/tableBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textures.png</string>
            <key>size</key>
            <string>{2004,1340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eab5a7590e744da27efd0c50dbe08a12:93705858b25560f5bc7d4de50c669606:1abd9b1a32dd92fa37ae3f420f34f475$</string>
            <key>textureFileName</key>
            <string>textures.png</string>
        </dict>
    </dict>
</plist>
