<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sprites/Dummy/dummy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{179,1622},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{241,1622},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{303,1622},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{200,1500},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{262,1500},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{324,1500},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{358,1592},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/Dummy/dummy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,20}</string>
                <key>spriteSourceSize</key>
                <string>{60,20}</string>
                <key>textureRect</key>
                <string>{{365,1614},{60,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{427,1606},{36,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/bannerBlackJack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,26}</string>
                <key>spriteSourceSize</key>
                <string>{176,26}</string>
                <key>textureRect</key>
                <string>{{239,1522},{176,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/bannerStand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,26}</string>
                <key>spriteSourceSize</key>
                <string>{177,26}</string>
                <key>textureRect</key>
                <string>{{179,1594},{177,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/bannerWaiting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,29}</string>
                <key>spriteSourceSize</key>
                <string>{176,29}</string>
                <key>textureRect</key>
                <string>{{1,1594},{176,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/C10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{74,1421},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/C2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{198,1283},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/C3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{200,1409},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/C4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{289,1283},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/C5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{326,1409},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/C6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{480,1548},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/C7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{380,1283},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/C8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{452,1409},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/C9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{471,1283},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/CA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{562,1283},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/CJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{578,1409},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/CK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{606,1535},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/CQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{653,1283},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/D10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{669,1409},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/D2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{732,1535},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/D3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1898,723},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/D4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1898,849},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/D5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1898,975},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/D6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1898,1101},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/D7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1898,1227},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/D8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{744,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/D9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{760,1392},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/DA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{851,1392},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/DJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{870,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/DK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{858,1518},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/DQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{942,1392},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/H10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{996,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/H2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{949,1518},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/H3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1033,1392},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/H4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1122,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/H5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1040,1518},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/H6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1124,1392},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/H7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1131,1518},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/H8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1215,1392},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/H9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1248,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/HA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1222,1518},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/HJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1306,1392},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/HK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1374,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/HQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1313,1518},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/S10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1397,1392},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/S2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1404,1518},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/S3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1488,1392},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/S4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1500,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/S5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1495,1518},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/S6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1579,1392},{89,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/cards/S7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1626,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/S8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1752,1301},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/S9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1878,1353},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/SA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1670,1392},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/SJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1854,1444},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/SK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1670,1483},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/cards/SQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,124}</string>
                <key>spriteSourceSize</key>
                <string>{89,124}</string>
                <key>textureRect</key>
                <string>{{1796,1535},{89,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/channelListBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{63,-72}</string>
                <key>spriteSize</key>
                <string>{1152,576}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{744,723},{1152,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,35}</string>
                <key>spriteSourceSize</key>
                <string>{43,35}</string>
                <key>textureRect</key>
                <string>{{378,1550},{43,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/deckRed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{136,122}</string>
                <key>textureRect</key>
                <string>{{74,1283},{136,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,35}</string>
                <key>spriteSourceSize</key>
                <string>{54,35}</string>
                <key>textureRect</key>
                <string>{{239,1550},{54,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/loginBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/nameTag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,67}</string>
                <key>spriteSourceSize</key>
                <string>{236,67}</string>
                <key>textureRect</key>
                <string>{{1,1525},{236,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/nameTagBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,71}</string>
                <key>spriteSourceSize</key>
                <string>{240,71}</string>
                <key>textureRect</key>
                <string>{{1,1283},{240,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/poke/거북왕.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{423,1548},{56,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/poke/나옹이.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{337,1550},{40,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sprites/poke/망나뇽.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1796,1449},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/poke/프테라.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1796,1392},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/poke/피카츄.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{295,1550},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/stand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{98,46}</string>
                <key>textureRect</key>
                <string>{{417,1500},{98,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sprites/tableBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{723,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>textures.png</string>
            <key>size</key>
            <string>{2004,1643}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd210242a0f9d6dc9f49d3fd2f37e9d7:37b102b3a25d730576feeb69c5373284:1abd9b1a32dd92fa37ae3f420f34f475$</string>
            <key>textureFileName</key>
            <string>textures.png</string>
        </dict>
    </dict>
</plist>
